{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
    <h1>A quelles newsletters souhaitez-vous vous inscrire?</h1>
    {{form(form)}}
{% endblock %}
